<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout_main.html}">
<body>
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full" layout:fragment="content">
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">CANDIDATE</h4>
                    <div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Candidate
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Detail
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <form class="form-horizontal">
                            <div class="card-body pb-0">
                                <h4 class="card-title">Personal Infomation</h4>
                                <div class="d-flex">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 text-end control-label col-form-label">Full Name
                                            </label>
                                            <div class="col-sm-9">
                                                <p class="form-control border-0">Alec Ngo</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 text-end control-label col-form-label">B.O.D
                                            </label>
                                            <div class="col-sm-9">
                                                <p class="form-control border-0">24/12/2001</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 text-end control-label col-form-label">Phone number</label>
                                            <div class="col-sm-9">
                                                <p class="form-control border-0">0123456789</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label  class="col-sm-3 text-end control-label col-form-label">Email</label>
                                            <div class="col-sm-9">
                                                <p class="form-control border-0">alecanderngoquang@.com</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label  class="col-sm-3 text-end control-label col-form-label">Address</label>
                                            <div class="col-sm-9">
                                                <p class="form-control border-0">68 Fernando Torres .st</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label  class="col-sm-3 text-end control-label col-form-label">Gender</label>
                                            <div class="col-md-9">
                                                <p class="form-control border-0">Male</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body pb-0">
                                <h4 class="card-title">Professional Infomation</h4>
                                <div class="d-flex">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 text-end control-label col-form-label">CV Attachment</label>
                                            <div class="col-sm-9">
                                                <p class="form-control border-0">alec-cv.pdf</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label  class="col-sm-3 text-end control-label col-form-label">Position</label>
                                            <div class="col-sm-9">
                                                <p class="form-control border-0">Tech lead</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 text-end control-label col-form-label">Skills</label>
                                            <div class="col-sm-9">
                                                <p class="form-control border-0">Full</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label  class="col-sm-3 text-end control-label col-form-label">Recruiter</label>
                                            <div class="col-sm-9">
                                                <p class="form-control border-0">AnNQ12</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label  class="col-sm-3 text-end control-label col-form-label">Note</label>
                                            <div class="col-sm-9">
                                                <p class="form-control border-0">Delicious</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 text-end control-label col-form-label">Status
                                            </label>
                                            <div class="col-sm-9">
                                                <p class="form-control border-0">Available</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label  class="col-sm-3 text-end control-label col-form-label">
                                                Years of experience</label>
                                            <div class="col-sm-9">
                                                <p class="form-control border-0">1</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label  class="col-sm-3 text-end control-label col-form-label">Highest level</label>
                                            <div class="col-md-9">
                                                <p class="form-control border-0">Intern</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="border-top ">
                                <div class="card-body">
                                    <button type="submit" class="btn btn-info">Edit</button>
                                    <button type="reset" class="btn btn-warning">Cancel</button>
                                    <button th:href="@{/candidate/ban}" class="btn btn-danger">Ban</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>