<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout_main.html}">
<body>
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full"
     layout:fragment="content">
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">CANDIDATE</h4>
                    <div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Candidate
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Create
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <form class="form-horizontal" th:object="${candidateUpdate}"
                              th:action="@{/candidate/update/{id}(id=${candidateUpdate.candidateId})}" method="post">
                            <div class="card-body ">
                                <h4 class="card-title">Personal Infomation</h4>
                                <div class="d-flex">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="fname" class="col-sm-3 text-end control-label col-form-label">Full
                                                Name
                                            </label>
                                            <div class="col-sm-9">
                                                <input type="text" th:field="*{fullName}" class="form-control"
                                                       id="fullname" placeholder="Full Name Here"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="fname" class="col-sm-3 text-end control-label col-form-label">B.O.D
                                            </label>
                                            <div class="col-sm-9">
                                                <input type="date" th:field="*{dateOfBirth}"
                                                       class="form-control date-inputmask" id="date-mask"
                                                       placeholder="Enter Date"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 text-end control-label col-form-label">Phone
                                                number</label>
                                            <div class="col-sm-9">
                                                <input type="text" th:field="*{phoneNumber}" class="form-control"
                                                       id="phone"
                                                       placeholder="Enter phone number."/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="fname" class="col-sm-3 text-end control-label col-form-label">Email</label>
                                            <div class="col-sm-9">
                                                <input type="text" th:field="*{email}" class="form-control" id="email"
                                                       placeholder="Enter email."/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 text-end control-label col-form-label">Address</label>
                                            <div class="col-sm-9">
                                                <input type="text" th:field="*{address}" class="form-control"
                                                       id="address"
                                                       placeholder="Enter address."/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 text-end control-label col-form-label">Gender</label>
                                            <div class="col-md-9">
                                                <select th:field="*{gender}" class="select2 form-select shadow-none"
                                                        style="width: 100%; height: 36px">
                                                    <option th:each="gen : ${T(fa.training.fjb04.ims.enums.Gender).values()}"
                                                            th:value="${gen}" th:text="${gen}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body ">
                                <h4 class="card-title">Professional Infomation</h4>
                                <div class="d-flex">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 text-end control-label col-form-label">CV
                                                Attachment</label>
                                            <div class="col-sm-9">
                                                <div class="custom-file">
                                                    <input type="file" th:field="*{cvAttachment}" class="custom-file-input"
                                                           id="validatedCustomFile" required="">
                                                    <div class="invalid-feedback">
                                                        Example invalid custom file feedback
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 text-end control-label col-form-label">Position</label>
                                            <div class="col-sm-9">
                                                <select th:field="*{position}" class="select2 form-select shadow-none"
                                                        style="width: 100%; height: 36px">
                                                    <option th:each="pos : ${T(fa.training.fjb04.ims.enums.Position).values()}" th:value="${pos}" th:text="${pos}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 text-end control-label col-form-label">Skills</label>
                                            <div class="col-sm-9">
                                                <select class="select2 form-select shadow-none mt-3" th:field="*{skill}"
                                                        style="height: 36px; width: 100%">
                                                    <option th:each="skill : ${skills}" th:value="${skill}" th:text="${skill}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 text-end control-label col-form-label">Recruiter</label>
                                            <div class="col-sm-9">
                                                <select th:field="*{user}" class="select2 form-select shadow-none"
                                                        style="width: 100%; height: 36px">
                                                    <option th:each="recruiter : ${recruiters}" th:value="${recruiter}" th:text="${recruiter}"></option>
                                                </select>
                                                <a href="#" class="" for="">Assign me.</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="fname" class="col-sm-3 text-end control-label col-form-label">Note</label>
                                            <div class="col-sm-9">
                                                <input type="text" th:field="*{note}" class="form-control" id="fname" placeholder="N/A"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 text-end control-label col-form-label">Status</label>
                                            <div class="col-sm-9">
                                                <select th:field="*{status}" class="select2 form-select shadow-none"
                                                        style="width: 100%; height: 36px">
                                                    <option th:each="status : ${T(fa.training.fjb04.ims.enums.Status).values()}" th:value="${status}" th:text="${status}">Select</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="year" class="col-sm-3 text-end control-label col-form-label">
                                                Years of experience</label>
                                            <div class="col-sm-9">
                                                <input th:field="*{yearOfExperience}" class="form-control" id="year" type="number" min="0"
                                                       max="2099" step="1"
                                                       value="2016"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 text-end control-label col-form-label">Highest
                                                level</label>
                                            <div class="col-md-9">
                                                <select th:field="*{highLevel}" class="select2 form-select shadow-none"
                                                        style="width: 100%; height: 36px">
                                                    <option th:each="highLevel : ${highLevels}" th:value="${highLevel}" th:text="${highLevel}">Select</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="border-top ">
                                <div class="card-body">
                                    <button type="submit" class="btn btn-success text-white">Submit</button>
                                    <button type="reset" class="btn btn-danger">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>