<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout_main.html}">
<body>
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full" layout:fragment="content" >
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Job</h4>
                    <div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Job
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    List
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Job List</h5>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_length" id="">
                                        <label class="d-flex align-items-center" style="width: 150px;">Show
                                            <select name="" class="form-control form-control-sm "
                                                    style="width: 42px; margin-left: 4px; margin-right: 4px;">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                            jobs
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <form id="search" class="dataTables_filter form-group">
                                        <label class="d-flex align-items-center">
                                            <input type="search" id="formSearch" name="search" class="form-control form-control-sm" placeholder="Search here...">
                                            <select id="mySelect" class="form-control form-control-sm w-50 form-select shadow-none "
                                                    style="margin-left: 10px; margin-right: 10px;">
                                                <option>Select</option>
                                                <option>Open</option>
                                                <option>Closed</option>
                                                <option>Draft</option>
                                            </select>
                                            <input type="submit" class="btn btn-success text-white" id="searchButton" value="Search">
                                        </label>

                                        <button type="submit" class="btn btn-success text-white">Add New</button>
                                        <button type="reset" class="btn btn-success text-white">Import</button>
                                    </form>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table  class="table table-hover table-bordered container-table">
                                    <thead>
                                    <tr>
                                        <th>Job Title</th>
                                        <th>Required Skills</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Level</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>

                                </table>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-sm-12 col-md-5">

                                </div>
                                <div class="col-sm-12 col-md-7 ">
                                    <div class="dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination justify-content-end">
                                            <li class="paginate_button page-item previous previous disabled">
                                                <a href="#" id="zero_config_info" class="page-link">

                                                </a>
                                            </li>
                                            <li id="prevBtn" class="paginate_button page-item previous disabled">
                                                <a href="#" class="page-link">
                                                    <i class="fa-solid fa-chevron-left"></i>
                                                </a>
                                            </li>
                                            <li id="nextBtn" class="paginate_button page-item next disabled">
                                                <a href="#" class="page-link">
                                                    <i class="fa-solid fa-chevron-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>