<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap.min.css"
          integrity="sha512-rt/SrQ4UNIaGfDyEXZtNcyWvQeOq0QLygHluFQcSjaGB04IxWhal71tKuzP6K8eYXYB6vJV4pHkXcmFGGQ1/0w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<div class="container">
    <h2 class="text-center text-danger">Error Occurred</h2>
    <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
<!--        <h1 th:text="${errorMessage.statusCode}"></h1>-->
<!--        <h2 th:text="${errorMessage.message}"></h2>-->
<!--        <p th:text="${errorMessage.timestamp}"></p>-->
<!--        <a th:href="@{/candidate/home}" class="btn btn-primary">Back To Home</a>-->
<!--        <img th:src="@{/img/images/not_found.svg}" class="img-fluid py-5" alt="Not found">-->
    </section>
</div>
</body>
</html>