<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="scripts">
    <script type="text/javascript" th:src="@{/css/libs/jquery/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/css/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/css/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/css/extra-libs/sparkline/sparkline.js}"></script>
    <script type="text/javascript" th:src="@{/js/waves.js}"></script>
    <script type="text/javascript" th:src="@{/js/sidebarmenu.js}"></script>
    <script type="text/javascript" th:src="@{/js/custom.min.js}"></script>
    <script type="text/javascript" th:src="@{/css/libs/flot/excanvas.js}"></script>
    <script type="text/javascript" th:src="@{/css/libs/flot/jquery.flot.js}"></script>
    <script type="text/javascript" th:src="@{/css/libs/flot/jquery.flot.pie.js}"></script>
    <script type="text/javascript" th:src="@{/css/libs/flot/jquery.flot.time.js}"></script>
    <script type="text/javascript" th:src="@{/css/libs/flot/jquery.flot.stack.js}"></script>
    <script type="text/javascript" th:src="@{/css/libs/flot/jquery.flot.crosshair.js}"></script>
    <script type="text/javascript" th:src="@{/css/libs/flot.tooltip/js/jquery.flot.tooltip.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/pages/chart/chart-page-init.js}"></script>

    <script type="text/javascript" th:src="@{/css/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/pages/mask/mask.init.js}"></script>
    <script type="text/javascript" th:src="@{/css/libs/select2/dist/js/select2.full.min.js}"></script>
    <script type="text/javascript" th:src="@{/css/libs/select2/dist/js/select2.min.js}"></script>
    <script type="text/javascript" th:src="@{/css/libs/jquery-asColor/dist/jquery-asColor.min.js}"></script>
    <script type="text/javascript" th:src="@{/css/libs/jquery-asGradient/dist/jquery-asGradient.js}"></script>
    <script type="text/javascript" th:src="@{/css/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/css/libs/jquery-minicolors/jquery.minicolors.min.js}"></script>
    <script type="text/javascript" th:src="@{/css/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/css/libs/quill/dist/quill.min.js}"></script>


    <script type="text/javascript" th:src="@{/js/job.js}"></script>
    <script type="text/javascript" th:src="@{/js/schedule.js}"></script>


    <script>
        //***********************************//
        // For select 2
        //***********************************//
        $(".select2").select2();

        /*colorpicker*/
        $(".demo").each(function () {
            //
            // Dear reader, it's actually very easy to initialize MiniColors. For example:
            //
            //  $(selector).minicolors();
            //
            // The way I've done it below is just for the demo, so don't get confused
            // by it. Also, data- attributes aren't supported at this time...they're
            // only used for this demo.
            //
            $(this).minicolors({
                control: $(this).attr("data-control") || "hue",
                position: $(this).attr("data-position") || "bottom left",

                change: function (value, opacity) {
                    if (!value) return;
                    if (opacity) value += ", " + opacity;
                    if (typeof console === "object") {
                        console.log(value);
                    }
                },
                theme: "bootstrap",
            });
        });
        /*datwpicker*/
        jQuery(".mydatepicker").datepicker();
        jQuery(".datepicker-autoclose").datepicker({
            autoclose: true,
            todayHighlight: true,
        });
        var quill = new Quill("#editor", {
            theme: "snow",
        });
    </script>

</div>
</body>
</html>