<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout_main.html}">
<body>
<div id="main-wrapper" data-layout="vertical"  data-navbarbg="skin5"  data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full"
     layout:fragment="content">

    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper job-page">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">SCHEDULE</h4>
                    <div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Schedule
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Edit schedule
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <form class="form-horizontal">
                            <div class="card-body ">
                                <h4 class="card-title">Edit Schedule Infomation</h4>
                                <div class="d-flex">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label
                                                    for="job-title"
                                                    class="col-sm-3 text-end control-label col-form-label"
                                            >Schedule title
                                            </label>
                                            <div class="col-sm-9">
                                                <input
                                                        type="text"
                                                        class="form-control"
                                                        id="job-title"
                                                        placeholder="Type a title."
                                                />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label
                                                    for="schedule-candidate"
                                                    class="col-sm-3 text-end control-label col-form-label"
                                            >Candidate name
                                            </label>
                                            <div class="col-sm-9">
                                                <select class="select2 form-select shadow-none" id="schedule-candidate" style="width: 100%; height: 36px">
                                                    <option value="">Select</option>
                                                    <option value="AT">Alec Ngo</option>
                                                    <option value="IA">Dao Ngoc Khanh Van</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label
                                                    for="schedule-date"
                                                    class="col-sm-3 text-end control-label col-form-label"
                                            >Schedule time
                                            </label>
                                            <div class="col-sm-9 input-group " style="width: 75%;">
                                                <input
                                                        type="text"
                                                        class="form-control datepicker-autoclose"
                                                        placeholder="mm/dd/yyyy"
                                                        id="schedule-date"
                                                />
                                                <div class="input-group-append">
                              <span class="input-group-text h-100"
                              ><i class="mdi mdi-calendar"></i
                              ></span>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group row">
                                            <label
                                                    class="col-sm-3 text-end control-label col-form-label"
                                            >
                                                Time
                                            </label>
                                            <div class="col-sm-9 d-flex">
                                                <label
                                                        for="from"
                                                        class="control-label col-form-label"
                                                >
                                                    From
                                                </label>
                                                <input
                                                        type="time"
                                                        class="form-control col-sm-3"
                                                        id="from"
                                                        style="width: 120px; margin: 0 10px;"
                                                />
                                                <label
                                                        for="to"
                                                        class="control-label col-form-label"
                                                >
                                                    To
                                                </label>
                                                <input
                                                        type="time"
                                                        class="form-control col-sm-3"
                                                        id="to"
                                                        style="width: 120px; margin: 0 10px;"
                                                />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label
                                                    for="note"
                                                    class="col-sm-3 text-end control-label col-form-label"
                                            >Note</label
                                            >
                                            <div class="col-sm-9">
                                                <textarea id="note" class="form-control"></textarea>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label
                                                    for="schedule-inp"
                                                    class="col-sm-3 text-end control-label col-form-label"
                                            >Job
                                            </label>
                                            <div class="col-sm-9">
                                                <select class="select2 form-select shadow-none" style="width: 100%; height: 36px" id="schedule-inp">
                                                    <option value="">Select</option>
                                                    <option value="AT">Job 1</option>
                                                    <option value="IA">Job 2</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-3 text-end control-label col-form-label">Interviewer</label>
                                            <div class="col-sm-9">
                                                <select
                                                        class="select2 form-select shadow-none mt-3"
                                                        multiple="multiple"
                                                        style="height: 36px; width: 100%"
                                                >
                                                    <option value="JV">Van</option>
                                                    <option value="JS">Ngu</option>
                                                    <option value="RI">Si</option>
                                                    <option value="SC">Đô</option>
                                                    <option value="VT">Rê</option>
                                                    <option value="VA">Mi</option>
                                                    <option value="WV">Fa</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label
                                                    for="schedule-location"
                                                    class="col-sm-3 text-end control-label col-form-label"
                                            >Location
                                            </label>
                                            <div class="col-sm-9">
                                                <input
                                                        type="text"
                                                        class="form-control"
                                                        id="schedule-location"
                                                        placeholder="Type a location."
                                                />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label
                                                    for="schedule-recruiter"
                                                    class="col-sm-3 text-end control-label col-form-label"
                                            >Recruiter</label
                                            >
                                            <div class="col-sm-9">
                                                <select class="select2 form-select shadow-none" id="schedule-recruiter" style="width: 100%; height: 36px">
                                                    <option value="">Select</option>
                                                    <option value="AL">Alec Ngo</option>
                                                    <option value="BC">Bồ Câu</option>
                                                    <option value="KV">Dao Ngoc Khanh Van</option>
                                                </select>
                                                <a href="#" class="" for="">Assign me.</a>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label
                                                    for="schedule-meeting"
                                                    class="col-sm-3 text-end control-label col-form-label"
                                            >Meeting ID
                                            </label>
                                            <div class="col-sm-9">
                                                <input
                                                        type="text"
                                                        class="form-control"
                                                        id="schedule-meeting"
                                                />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="border-top ">
                                <div class="card-body">
                                    <button type="submit" class="btn btn-success text-white">Submit</button>
                                    <button type="reset" class="btn btn-danger">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>

</div>

</body>
</html>